/* location list */
.loc-list {
	padding-right: 20px;
	padding-top: 2px;
}

/* location item */
.loc-list-item {
	color: rgb(63, 81, 181);
}

.loc-list-item-text {
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-right: 5px; /* for secondery space */
	/*max-width: 200px;*/
	font-size: 19px;
	color: black;
}

._md-list-item-inner { /* for folder-list-item-text */
	margin-right: -65px; /* for secondery space */
}

.folder-list-item-text {
	@extend .loc-list-item-text;
	padding-right: 65px; /* for secondery space */
}

.folder-list-item-text-m {
	@extend .loc-list-item-text;
	padding-right: 25px; /* for secondery space */
}



/*md-list.md-default-theme, md-list md-list-item button.md-button:not([disabled]):hover {
    background-color: rgba(63, 81, 181, 0.2) !important;
}*/

md-list-item.md-no-proxy.md-button, md-list-item ._md-no-style.md-button {
	border-radius: 3px !important;
}

/* item editor icon */
.md-secondary {
	margin-top: -3px;
}

._md-secondary-container {
	margin-right: -15px !important;
}

.md-button.md-icon-button {
	margin: 0 0px;
	margin-top: -7px;
}

/* item editor item */
a.md-button.md-default-theme:not([disabled]):hover, a.md-button:not([disabled]):hover, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: rgba(63, 81, 181, 0.2);
}

/* plans desc */
.plans-desc {
	margin-left: 8px;
	margin-bottom: 1px;
	margin-top: 0px;
}

.plans-desc-loc {
	font-size: 21px;
	display: inline-block;
	overflow: hidden;
}

.sort-container {
	float: right;
	font-size: 21px;
	padding: 0px;
	margin: 0px 0;
	margin-top: -4px;
	margin-right: 11px;
}

.plans-desc-loc-m {
	font-size: 17px;
	width: 267px;
	margin-left: 2px;
	margin-top: -2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sort-container-m {
	font-size: 17px;
	padding: 0px;
	margin: 0px 0;
	margin-top: -2px;
	margin-bottom: 2px;
}

/* card */
.card-title {
	padding-bottom: 0px;
}

a {
	text-decoration: none;
}

a.md-default-theme:not(.md-button), a:not(.md-button) {
    color: #1A237E;
}

a.md-default-theme:not(.md-button):hover, a:not(.md-button):hover {
    color: #1A237E;
}

.md-headline {
	font-size: 23px;
}

.headline-small {
	font-size: 19px;
}

.md-subhead {
	margin-top: 10px !important;
	font-size: 15px !important;
}

.big-fab {
	background-color: rgb(250,250,250) !important;
	line-height: 66px !important;
	height: 66px !important;
	width: 66px !important;
}

md-tooltip {
	font-size:16px;
}

.icon-in-btn {
	margin-top: -3px;
}

.icon-in-btn-m {
    margin-top: 4px; /* need disable in ios */
}

/*.icon-count {
	width: 38px;
	overflow: hidden;
	white-space: nowrap;
	display: -webkit-box;
	display: inline-flex;
}*/

.icon-m-count-l {
	margin-top: 2px;
	margin-left: -14px;
	width: 36px;
	overflow: hidden;
}

.icon-m-count-r {
	margin-top: 2px;
	margin-left: -19px;
	width: 36px;
	overflow: hidden;
}

/* for mobile display 3 btn */
/*@media screen and (max-width: 959px) {
	md-card .md-actions:not(.layout-column) .md-button:not(.md-icon-button), md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button) {
	    margin: 0 2px;
	}
}*/