<md-sidenav class="md-sidenav-left all-bg" md-component-id="left" md-is-locked-open="false">

  <div class="smooth-touch">
  <md-content class="all-bg" flex="" layout-padding="">

    <md-list class="loc-list" style="padding:2px;padding-right:3px;">

      <!-- regular location list -->
      <md-list-item ng-repeat="loc in $ctrl.locations" ng-click="$ctrl.selectLoc(loc, 'left')" class="loc-list-item">
        <p class="loc-list-item-text">{{ loc.name }}</p>
      </md-list-item>


      <md-divider></md-divider>
      <!-- test folder list -->
      <md-list-item ng-repeat="loc in $ctrl.locations" ng-click="$ctrl.test()" class="loc-list-item">
        <p class="folder-list-item-text">{{ loc.name }}</p>
        <!-- use img tag because of md-icon bug in mobile -->
        <span tabindex="-1" class="md-secondary" ng-click="$ctrl.test()" aria-label="create">
          <img src="../assets/svg/icon_create.svg">
        </span>
        <span tabindex="-1" class="md-secondary" ng-click="$ctrl.test()" aria-label="delete">
          <img src="../assets/svg/icon_delete.svg">
        </span>
      </md-list-item>

      <md-divider></md-divider>
      <!-- mobile folder list -->
      <md-list-item ng-repeat="loc in $ctrl.locations" ng-click="$ctrl.closeSidenav('left')" class="loc-list-item">
        <p class="folder-list-item-text-m">{{ loc.name }}</p>
        <!-- editor menu -->
        <md-menu ng-click="" class="md-secondary" aria-label="location">
          <!-- use img tag because of md-icon bug in mobile -->
          <img md-menu-origin tabindex="-1" ng-click="$mdOpenMenu($event)" src="../assets/svg/icon_create.svg">
          <!-- menu item -->
          <md-menu-content width="2">
            <md-menu-item ng-repeat="item in ['編輯', '刪除']">
              <md-button ng-click="test($index)" class="primary-btn">
                <span md-menu-align-target class="primary-btn-text"> {{item}} </span>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-list-item>

    </md-list>

    <br><br><br><br><br><br><br><br><br><br><br>

  </md-content>
  </div>

</md-sidenav>