<!-- navi bar -->
<acme-navbar logo="LOGO" title-m="我的收藏" opt-left-name-m="返回" opt-right-name-m="功能" prev-state="myfavor"></acme-navbar>

<!-- main content -->
<div layout="row" flex class="main-container" style="overflow:auto;overflow-y:hidden;position:relative;">
	<!-- mobile sideNav -->
	<favor-trip-left-m layout="column" hide-gt-sm></favor-trip-left-m>
	<!-- content -->
	<md-content layout="column" id="content" flex class="md-padding all-bg">
	  <div layout="row" id="top">
	    <!-- desktop side -->
	    <favor-trip-left flex="20" hide-sm hide-xs ng-hide="main.hideLeft"  class="content-col"></favor-trip-left>
	    <!-- desktop & mobile content -->
	    <favor-trip-center flex></favor-trip-center>
	    <!-- desktop side -->
	    <favor-trip-right flex="25" hide-sm hide-xs class="content-col"></favor-trip-right>
	  </div>
	</md-content>
	<!-- mobile sideNav -->
	<favor-trip-right-m layout="column" hide-gt-sm></favor-trip-right-m>
</div>



