<!-- navi bar -->
<acme-navbar logo="LOGO" title-m="首頁" opt-left-name-m="返回" opt-right-name-m="功能" prev-state="home"></acme-navbar>

<!-- main content -->
<div layout="row" flex class="main-container" style="overflow:auto;position:relative;">
	<!-- mobile sideNav -->
	<hometrip-left-m layout="column" hide-gt-sm></hometrip-left-m>
	<!-- content -->
	<md-content layout="column" id="content" flex class="md-padding all-bg">
	  <div layout="row" id="top">
	    <!-- desktop side -->
	    <hometrip-left flex="20" hide-sm hide-xs ng-hide="main.hideLeft"  class="content-col"></hometrip-left>
	    <!-- desktop & mobile content -->
	    <hometrip-center flex></hometrip-center>
	    <!-- desktop side -->
	    <hometrip-right flex="25" hide-sm hide-xs class="content-col"></hometrip-right>
	  </div>
	</md-content>
	<!-- mobile sideNav -->
	<hometrip-right-m layout="column" hide-gt-sm></hometrip-right-m>
</div>



