<!-- navi bar -->
<acme-navbar logo="LOGO" title-m="搜尋" opt-left-name-m="" opt-right-name-m="" prev-state=""></acme-navbar>

<!-- main content -->
<div layout="row" flex class="main-container" style="overflow:auto;overflow-y:hidden;position:relative;">
	<!-- mobile sideNav -->
	<search-left-m layout="column" hide-gt-sm></search-left-m>
	<!-- content -->
	<md-content layout="column" id="content" flex class="md-padding all-bg">
	  <div layout="row" id="top">
	    <!-- desktop side -->
	    <search-left flex="20" hide-sm hide-xs ng-hide="main.hideLeft"  class="content-col"></search-left>
	    <!-- desktop & mobile content -->
	    <search-center flex></search-center>
	    <!-- desktop side -->
	    <search-right flex="25" hide-sm hide-xs class="content-col"></search-right>
	  </div>
	</md-content>
	<!-- mobile sideNav -->
	<search-right-m layout="column" hide-gt-sm></search-right-m>
</div>



