<div flex class="content-col">
  <!-- desc -->
  <div class="plans-desc">
    <span hide-xs class="plans-desc-loc">{{$ctrl.locName}}的行程，共34個</span>
    <md-input-container hide-xs class="sort-container" ng-hide="$ctrl.locName==='最新'">
      <label>&nbsp;</label>
      <md-select ng-model="$ctrl.selectedSort" aria-label="plan sort" ng-model-options="{trackBy: '$value.id'}" placeholder="">
        <md-option ng-value="{{sort.id}}" ng-repeat="sort in $ctrl.plansSort">
          <span>{{sort.name}}</span>
        </md-option>
      </md-select>
    </md-input-container>
    <div hide-gt-sm hide-sm class="plans-desc-loc-m">{{$ctrl.locName}}的行程，共2222個</div>
    <md-input-container hide-gt-sm hide-sm class="sort-container-m" ng-hide="$ctrl.locName==='最新'">
      <label>&nbsp;</label>
      <md-select ng-model="$ctrl.selectedSort" aria-label="plan sort" ng-model-options="{trackBy: '$value.id'}" placeholder="">
        <md-option ng-value="{{sort.id}}" ng-repeat="sort in $ctrl.plansSort">
          <span>{{sort.name}}</span>
        </md-option>
      </md-select>
    </md-input-container>
  </div>

  <!-- plans -->
  <md-card>
    <md-card-title class="card-title">
      <md-card-title-text>
        <span class="md-headline">
          <a ui-sref="tripLayout.home({plan:456})">
              <strong>5天&nbsp;&nbsp;[日本]&nbsp;大阪、京都</strong>
              <br>
              <span class="headline-small">超充實瘋狂東京快閃25小時濃縮精華遊</span>
          </a>
        </span>
        <span class="md-subhead">
          2015/7/8<span hide-gt-sm hide-sm>&nbsp;由<a ui-sref="mainLayout.more({user:999})">afulist</a></span>更新
        </span>
      </md-card-title-text>
      <md-card-title-media>
        <a ui-sref="mainLayout.more({user:999})">
          <md-button class="md-fab big-fab hide-xs" aria-label="user page" ng-style="$ctrl.userImage">
            <md-tooltip style="">
              使用者
            </md-tooltip>
            <md-icon></md-icon>
          </md-button>
        </a>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <!-- desktop action -->
      <md-button hide-xs class="primary-btn" title="讚">
        <md-icon class="icon-in-btn">thumb_up</md-icon>
        <span class="primary-btn-text icon-count">77777111119</span>
      </md-button>
      <md-button hide-xs class="primary-btn" title="收藏">
        <md-icon class="icon-in-btn">favorite</md-icon>
        <span class="primary-btn-text icon-count">999</span>
      </md-button>
      <!-- mobile action -->
      <!-- use img tag because of md-icon bug in mobile -->
      <md-button hide-gt-sm hide-sm class="md-icon-button primary-btn" aria-label="thumb up">
        <img ng-class="{'icon-in-btn-m': $ctrl.ios==false}" class="" src="../assets/svg/icon_thumb.svg">
      </md-button>
      <span hide-gt-sm hide-sm class="icon-m-count-l">1234444</span>
      <md-button hide-gt-sm hide-sm class="md-icon-button primary-btn" aria-label="favorite">
        <img ng-class="{'icon-in-btn-m': $ctrl.ios==false}" src="../assets/svg/icon_favor.svg">
      </md-button>
      <span hide-gt-sm hide-sm class="icon-m-count-r">1234</span>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-title class="card-title">
      <md-card-title-text>
        <span class="md-headline">
          <a ui-sref="tripLayout.home({plan:123})">
              <strong>5天&nbsp;&nbsp;[日本]&nbsp;大阪、京都</strong>
              <br>
              <span class="headline-small">超充實瘋狂東京快閃25小時濃縮精華遊</span>
          </a>
        </span>
        <span class="md-subhead">
          2015/7/8<span hide-gt-md hide-md>&nbsp;由<a ui-sref="mainLayout.more({user:999})">afulist</a></span>更新
        </span>
      </md-card-title-text>
      <md-card-title-media>
        <a ui-sref="mainLayout.more({user:999})">
          <md-button class="md-fab big-fab hide-xs" aria-label="user page" ng-style="$ctrl.userImage">
            <md-tooltip style="">
              使用者
            </md-tooltip>
            <md-icon></md-icon>
          </md-button>
        </a>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <!-- desktop action -->
      <md-button hide-sm hide-xs class="primary-btn" title="讚">
        <md-icon class="icon-in-btn">thumb_up</md-icon>
        <span class="primary-btn-text icon-count">77777111119</span>
      </md-button>
      <md-button hide-sm hide-xs class="primary-btn" title="收藏">
        <md-icon class="icon-in-btn">favorite</md-icon>
        <span class="primary-btn-text icon-count">999</span>
      </md-button>
      <!-- mobile action -->
      <!-- use img tag because of md-icon bug in mobile -->
      <md-button hide-gt-md hide-md class="md-icon-button primary-btn" aria-label="thumb up">
        <img ng-class="{'icon-in-btn-m': $ctrl.ios==false}" src="../assets/svg/icon_thumb.svg">
      </md-button>
      <span hide-gt-md hide-md class="icon-m-count-l">1234444</span>
      <md-button hide-gt-md hide-md class="md-icon-button primary-btn" aria-label="favorite">
        <img ng-class="{'icon-in-btn-m': $ctrl.ios==false}" src="../assets/svg/icon_favor.svg">
      </md-button>
      <span hide-gt-md hide-md class="icon-m-count-r">1234</span>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-title class="card-title">
      <md-card-title-text>
        <span class="md-headline">
          <a ui-sref="tripLayout.home({plan:123})">
              <strong>5天 日本(大阪、京都)</strong>
              <br>
              <span class="headline-small">超充實瘋狂東京快閃25小時濃縮精華遊</span>
          </a>
        </span>
        <span class="md-subhead">
          2015/7/8<span hide-gt-md hide-md>&nbsp;由<a ui-sref="mainLayout.more({user:999})">afulist</a></span>更新
        </span>
      </md-card-title-text>
      <md-card-title-media>
        <a ui-sref="mainLayout.more({user:999})">
          <md-button class="md-fab big-fab hide-xs" aria-label="user page" ng-style="$ctrl.userImage">
            <md-tooltip style="">
              使用者
            </md-tooltip>
            <md-icon></md-icon>
          </md-button>
        </a>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button hide-sm hide-xs class="primary-btn">
        <md-icon class="icon-in-btn">thumb_up</md-icon>
        <span class="primary-btn-text">
          <!-- hide if opt and in mobile -->
          24
        </span>
      </md-button>
      <md-button hide-sm hide-xs class="primary-btn">
        <md-icon class="icon-in-btn">favorite</md-icon>
        <span class="primary-btn-text">
          <!-- hide if opt and in mobile -->
          5
        </span>
      </md-button>
      <md-button hide-sm hide-xs class="primary-btn">
        <md-icon class="icon-in-btn">favorite</md-icon>
        <span class="primary-btn-text">
          <!-- hide if opt and in mobile -->
          5
        </span>
      </md-button>
      <md-button hide-gt-md hide-md class="md-icon-button" aria-label="More">
        <md-icon class="icon-in-btn">favorite</md-icon>
      </md-button>
      <md-button hide-gt-md hide-md class="md-icon-button" aria-label="More">
        <md-icon class="icon-in-btn">favorite</md-icon>
      </md-button>
    </md-card-actions>
  </md-card>

	<div>
	<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111
	</div>
</div>